@font-face {
	font-family: "ANTQUABI";
	src: local("ANTQUABI"), url(../fonts/ANTQUABI.TTF) format("truetype");
}
@font-face {
	font-family: "KlavikaMedium";
	src: local("KlavikaMedium"), url(../fonts/KlavikaMedium.otf) format("opentype");
}
