.dialogs {
	margin: 20px 0 40px 0px;
	width: 80%;
	display: flex;
	justify-content: center;
	height: 600px;
	z-index: 1;
	@media (max-width: 1030px) {
		height: 450px;
		width: 100%;
	}
	@media (max-width: 580px) {
		margin: 0;
	}
	&__messages {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex: 0 0 80%;
		padding: 25px 50px;
		@media (max-width: 580px) {
			flex: 0 0 100%;
			padding: 10px 25px 10px 0px;
		}
	}
	//Sms
	&__myMessage {
		width: 100%;
		display: flex;
	}
	&__sms {
		display: inline-block;
		border-radius: 5px;
		text-align: right;
		background-color: rgba(190, 96, 112, 0.377);
		padding: 8px 15px;
		font-size: 15px;
		margin: 7px 0px 8px auto;
		max-width: 500px;
		word-wrap: break-word;
		line-height: 20px;
	}
}
